@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: calc(100vw - 40px);
  position: fixed;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  backdrop-filter: blur(10px);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Space Grotesk", sans-serif;
}
p,
span,
b,
i,
del,
underline,
button,
input,
a,
li, footer {
  font-family: "Inter", sans-serif;
}
pre {
  color: white;
  background-color: black;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}
code {
  font-family: "Space Mono", monospace;
  font-size: 14px;
}
button {
  cursor: pointer;
}
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
}
.hero {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-content {
  display: grid;
  color: black;
}
.button-hero {
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
  background: transparent;
  border: 2px solid black;
  color: black;
  transition: 0.5s all;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button-hero>a{
    color: black;
    text-decoration: none;
}
.button-hero:hover .button-hero>a:hover {
  color: white;
  background-color: black;
  transition: 0.5s all;
}
main {
  padding: 20px;
}
.concept-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 2fr 1fr;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
  user-select: none;
}
.hamburger-menu,details {
  display: none;
}
.menu > li > a,
.hamburger-menu > li > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.hamburger-menu {
    list-style:none;
    padding:0;
}
@media (max-width: 768px) {
  .concept-container {
    display: block;
  }
  header {
    display: grid;
    justify-content: center;
    text-align: center;
  }
  .menu {
    display: none;
  }
  .hamburger-menu,
  details {
    display: block;
    cursor: pointer;
    user-select: none;
  }
  .button-hero {
    padding: 14px;
    font-size: 14px;
  }
  body {
    overflow-x: hidden;
  }
}
footer {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}