@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.menu {
    list-style: none;
    display:flex;
    align-items:center;
    gap:20px;
}